/** Stylus Styles */

// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

@import '../../node_modules/vuetify/src/stylus/main'

body
    font-family: 'Rubik', 'Source Sans Pro', Arial, sans-serif

a
    text-decoration: none;
